/* Content styles */
.match-result {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.teams {
    display: flex;
    justify-content: space-around;
}

/* Accordion styles */
.accordion__item {
    display: block;
}

.accordion__button {
    background-color: #2F4B26;
    color: #F7F3E3;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    text-align: left;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.accordion__button:after {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);

    margin-left: 10px;
}
.accordion__button[aria-expanded='true']::after, .accordion__button[aria-selected='true']::after {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;

    background-color: #3E885B;
    color: #F7F3E3;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
