.button {
    list-style: none;
  
  background-color: white; 
  border-style: solid;
  border-color:#0b2d3148;
  border-width: 1px;
  padding: 5px 20px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.044), 0 3px 20px 0 rgba(0, 0, 0, 0.064);
  background-color: rgb(62, 136, 91);
}
.button:hover {
  background-color: rgb(134, 32, 9);
}

.input {
  background-color: rgb(247, 243, 227);
  border: 2px solid rgb(134, 32, 9);
  border-radius: 4px;
}
.input:focus {
  background-color: lightblue;
}

body {
  background-color: rgb(47, 75, 38) ;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#createLists {
display: flex;
justify-content: space-around;

}


#createLists > div >ul{
  display: flex;
  flex-direction: column;
  list-style: none;

  }
