.button {
  list-style: none;
  background-color: white; 
  border-style: solid;
  border-color:#0b2d3148;
  border-width: 1px;
  padding: 5px 20px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.044), 0 3px 20px 0 rgba(0, 0, 0, 0.064);
  background-color: rgb(62, 136, 91);
  margin-bottom: 2%;}
.button:hover {
  background-color: rgb(134, 32, 9);
}
.button:active {
	position:relative;
	top:1px;
}

.input {
  background-color: rgb(247, 243, 227);
  border: 2px solid rgb(134, 32, 9);
  border-radius: 4px;
}
.input:focus {
  background-color: lightblue;
}

body {
  background-color: rgb(47, 75, 38) ;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
#createLists {
display: flex;
justify-content: space-around;
border: solid;
border-color: rgb(247, 243, 227);
height: 30em;
}
#createLists > div {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
border: solid;
border-color: rgb(247, 243, 227);
}


#createLists > div >ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  }

#match-area{
  background-image: url(../assets/pexels-mike-1171084.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 22em;
  color: rgb(2, 32, 80);
  margin: 2%;
  /* text-shadow: 2px 2px rgba(19, 41, 17, 0.399); */
  font-weight: 900;
  font-size: 150%;

}
.teams{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
}
.teams > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
#team1 {
  color: rgb(72, 22, 11);
}